<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCompteLabel" jhiTranslate="pocApp.compte.home.createOrEditLabel">Create or edit a Compte</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!compte.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="compte.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocApp.compte.reference" for="field_reference">Reference</label>
            <input type="text" class="form-control" name="reference" id="field_reference"
                [(ngModel)]="compte.reference" required/>
            <div [hidden]="!(editForm.controls.reference?.dirty && editForm.controls.reference?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.reference?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocApp.compte.dateOuv" for="field_dateOuv">Date Ouv</label>
            <div class="d-flex">
                <input id="field_dateOuv" type="datetime-local" class="form-control" name="dateOuv" [(ngModel)]="compte.dateOuv"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocApp.compte.adresse" for="field_adresse">Adresse</label>
            <input type="text" class="form-control" name="adresse" id="field_adresse"
                [(ngModel)]="compte.adresse" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocApp.compte.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="compte.type" id="field_type" >
                <option value="ORDINAIRE">{{'pocApp.CompteType.ORDINAIRE' | translate}}</option>
                <option value="VIP">{{'pocApp.CompteType.VIP' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocApp.compte.actif" for="field_actif">Actif</label>
            <input type="checkbox" class="form-control" name="actif" id="field_actif"
                [(ngModel)]="compte.actif" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="pocApp.compte.client" for="field_client">Client</label>
            <select class="form-control" id="field_client" name="client" [(ngModel)]="compte.clientId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="clientOption.id" *ngFor="let clientOption of clients; trackBy: trackClientById">{{clientOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
