
<div *ngIf="client">
    <h2><span jhiTranslate="pocApp.client.detail.title">Client</span> {{client.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="pocApp.client.nom">Nom</span></dt>
        <dd>
            <span>{{client.nom}}</span>
        </dd>
        <dt><span jhiTranslate="pocApp.client.prenom">Prenom</span></dt>
        <dd>
            <span>{{client.prenom}}</span>
        </dd>
        <dt><span jhiTranslate="pocApp.client.type">Type</span></dt>
        <dd>
            <span jhiTranslate="{{'pocApp.ClientType.' + client.type}}">{{client.type}}</span>
        </dd>
        <dt><span jhiTranslate="pocApp.client.cin">Cin</span></dt>
        <dd>
            <span>{{client.cin}}</span>
        </dd>
        <dt><span jhiTranslate="pocApp.client.dateNaissance">Date Naissance</span></dt>
        <dd>
            <span>{{client.dateNaissance | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="pocApp.client.telephone">Telephone</span></dt>
        <dd>
            <span>{{client.telephone}}</span>
        </dd>
        <dt><span jhiTranslate="pocApp.client.email">Email</span></dt>
        <dd>
            <span>{{client.email}}</span>
        </dd>
        <dt><span jhiTranslate="pocApp.client.compte">Compte</span></dt>
        <dd>
            <div *ngIf="client.compteId">
                <a [routerLink]="['/compte', client.compteId]">{{client.compteId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'client/'+ client.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
